#R
**.Rproj.user
**.Rhistory
**.RData
**.Ruserdata
**man/
**RcppExports.*
#python
__pycache__/
**.pyc
#c++
build/
external_libs/
#mac 
**.DS_Store
#temp file
**core
**.h5
**.swp
**.bak
**.tar.gz
temp/
#node
**/node_modules
**/package-lock.json